<style>
input:invalid {
    border: 1px solid red;
}
</style>
<div class="row" ng-controller = "JobController" style="width:85%">
 <div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span>Add New Job Cart</span>
		</div>
	</div>
	<div class="col-lg-10">
	 <label class="col-md-12" style="color: #ff0000 !important;" ng-show="showmandatory">Please enter all mandatory * field in RED</label> 
		<form role="form" name="jobForm">
			<div class="form-group">
				<div class="col-sm-4">
					<label for="name">Registration Number</label>
					 <input	class="form-control" type="text" placeholder = "MP-09-CG-9762"
						  ng-model="input.registrationNo" required pattern="^[A-Z]{2}[-][0-9]{2}[-][A-Z]{2}[-][0-9]{4}"
						  upper-case
						    />
						
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					<label for="email">Odometer</label> <input type="number"
						class="form-control" id="odometer" placeholder="in km"
						ng-model="input.odoMeter" >
				</div>
			</div>
			 <div class="form-group">
				<div class="col-sm-4">
					<label for="pwd">Average KM/day</label> <input type="number"
						class="form-control" id="avgkm" ng-model="input.avgKmPerDay" >
				</div>
			</div> 
			<div class="form-group">
				<div class="col-sm-4">
					<label for="pwd">VIN No.</label> <input type="number"
						class="form-control" ng-model="input.vinNo">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					<label for="pwd">Engine No.</label> <input type="text"
						class="form-control" ng-model="input.engineNo" upper-case>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					<label for="pwd">Find Car</label> 
					<input  class="form-control" list="cars"  ng-model="input.vehicleName" required ng-init="loadVehicleDataForList()" ng-change="setCarMakeOnSelection(input.vehicleName)">
					<datalist id="cars">
					 <option ng-repeat="x in vehicles" value="{{x.make}} , {{x.model}}"/>
					</datalist>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					<label for="pwd">Make</label><input class="form-control"
						ng-model="input.make" required  >
				</div>
				<div class="form-group">
					<div class="col-sm-4">
						<label for="pwd">Model</label> <input class="form-control"
						 ng-model="input.model" required >
					</div>
					<div class="form-group">
						<div class="col-sm-4">
							<label for="pwd">Year</label> <input type="number"
								class="form-control" ng-model="input.year">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4">
							<label for="pwd">Variant</label>
							<input class="form-control"
								list="variants" ng-model="input.variant" upper-case>
							<datalist id="variants">
								 <option ng-repeat="x in vehicles" value="{{x.variant}}" />
							</datalist>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4">
							<label for="pwd">Vehicle Color</label> 
							<input class="form-control"
								list="colors1" ng-model="input.vehicleColor" upper-case>
								<datalist id="colors1">
								 <option ng-repeat="x in colors" value="{{x}}"/>
							</datalist>
							</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4">
							<label for="pwd">Fuel Type</label> 
								<input class="form-control"
								list="fuelList" name="browser"  ng-model="input.fuelType" upper-case>
							<datalist id="fuelList">
								 <option ng-repeat="x in fuels" value="{{x}}"/>
							</datalist>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-4">
							<label for="pwd">Service Type</label> <input type="text"
								class="form-control" ng-model="input.serviceType" upper-case>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4">
							<label for="pwd">Select Advisor</label> <input type="text"
								class="form-control" ng-model="input.advisor" upper-case>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-4">
							<label for="pwd">Customer Complaint</label>
							<input class="form-control" type="text" ng-model="input.complaint">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-4">
							<label for="pwd">Coorporate Fleet / Customer</label><input
								class="form-control"  ng-model="input.insuraceName" >
							
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-4">
							<label for="pwd">Customer Name</label> <input type="text"
								class="form-control" ng-model="input.customerName" required upper-case>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-4">
							<label for="pwd">Mobile Number</label> <input type="number" maxlength="10"
								class="form-control" ng-model="input.mobileNumber" required >
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-4">
							<label for="pwd">Alternate Mobile</label> <input type="text"
								class="form-control" ng-model="input.customerName" upper-case>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4">
							<label for="pwd">Email</label> <input type="text"
								class="form-control" ng-model="input.email" >
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4">
							<label class="control-label" for="date">Delievery Date</label>
							 <input	class="form-control" id="frompicker" name="date" placeholder="DD/MM/YYY" type="text" ng-model="input.delieveryDate" 
								ng-init="datePicketConfiguration()"/>
						</div>
					</div>
					<label style="margin-top: 2%; margin-left: 2%;">Advance
						Payment:</label>

					<div class="form-group">
						<div class="col-sm-4">
							<label for="pwd">Payment By</label><input class="form-control"
								list="paymentModeList" name="paymentModeList" ng-model="input.customer.paymentMode">
							<datalist id="paymentModeList">
							<option ng-repeat="x in paymentMode" value="{{x}}"/>
							</datalist>
						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<label class="control-label" for="date">Bank Name</label> <input
									class="form-control" type="text" ng-model="input.customer.bankName" upper-case/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<label class="control-label" for="date">Cheque No.</label> <input
									class="form-control" type="text" ng-model="input.customer.chequeNo" upper-case/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<label class="control-label" for="date">Amount</label> <input
									class="form-control"  type="text" ng-model="input.customer.amount"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<label class="control-label" for="date">Date</label> <input
									class="form-control" id="date" name="date"
									placeholder="DD/MM/YYY" type="text" ng-model="input.customer.dateOfPayment"
									ng-init="datePicketConfiguration()"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<label class="control-label" for="date">Comments</label> <input
									class="form-control" id="date" name="date" ng-model="input.comments"
									 type="text"/>
							</div>
						</div>
						
						<div class="form-group" style="text-align: center">
			 					<button type="button" class="btn btn-success btn-md" style="margin-top:4%" ng-click="submitted=true;estimateJob(input,jobForm.$valid)">Estimate Now</button>
			 					<button type="button" class="btn btn-warning" style="margin-top:4%" ng-click="submitted=true;estimateLater(input,jobForm.$valid)">Estimate Later</button>
			 					<!-- <button type="button" class="btn btn-danger" style="margin-top:4%" ng-click="cancelJob()">Cancel Job</button> -->
						</div>
				</form>
				
	</div>
</div>
</div>
