<div class="row" ng-controller="EmployeeController" style="width: 85%">
<div class="panel panel-default" >
                        <div class="panel-heading">
                           <a href="#/addEmployee" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-plus"></span> Add Employee 
        </a>
                    <div class="col-sm-4">
                        <input type="text" id="firstName" placeholder="Search Employee" class="form-control" autofocus ng-model="searchText">
                    </div>
         </div>
  <div class="panel-body" >
  <div class = "row" style="overflow-x:scroll;overflow-y:scroll">
  <table class="table table-striped table-bordered" ng-table="usersTable" cellspacing="0">
    <thead>
      									<tr>
      									 <th>Employee Id</th>
                                        <th>Employee Name</th>
                                        <th>Date of Joining</th>
                                        <th>Cell Number</th>
                                        <th>Date of Birth</th>
                                        <th style="width:10%">Email</th>
                                        <!-- <th>Address</th> -->
                                      <!--   <th>Country</th> -->
                                        <!-- <th>Employee Type</th>
                                        <th>Bank Account Number</th>
                                        <th>Bank Name</th>
                                        <th>Branch Name</th>
                                        <th>Bank IFSC</th>
                                        <th>PAN Number</th>
                                        <th>Driving License Number</th>
                                        <th>ADHAR Number</th>
                                        <th>Leave Taken</th>
                                        <th>Leave Balance</th> -->
										 <th>Action</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="emp in $data | filter: searchText">
        <td>{{emp.employeeId}}</td>
        <td>
          {{emp.user.firstName}} {{emp.user.middleName}} {{emp.user.lastName}}
        </td>
        <td>{{emp.dateOfJoining}}</td>
        <td>{{emp.user.phoneNumber}} </td>
        <td>{{emp.user.dateOfBirth}}</td>
        <td>{{emp.user.email}}</td>
      <!--   <td>{{emp.user.address}}</td> -->
       <!--  <td>{{emp.user.country}}</td> -->
       <!--  <td>{{emp.employeeType.employeeTypeDescription}}</td>
        <td>{{emp.user.bankAccountNumber}}</td>
        <td>{{emp.user.bankName}}</td>
        <td>{{emp.user.branchName}}</td>
        <td>{{emp.user.ifscCode}}</td>
        <td>{{emp.user.panNumber}}</td>
        <td>{{emp.user.drivinglicenseNumber}}</td>
        <td>{{emp.user.adharNumber}}</td> -->
        <!--  <td></td>
          <td></td> -->
        <td>
		<span><a href="" class="glyphicon glyphicon-edit" ng-click="editUser(emp);$event.preventDefault()" data-popout="true"></a></span> 	
        <span><a href="" class="glyphicon glyphicon-trash" ng-click="deleteUser($event.target.href);$event.preventDefault()" data-popout="true"></a></span>  
    	
      </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  </div>
