<div class="row" style="width:85%" ng-controller="JobController">
<div class="panel panel-default" >
                        <div class="panel-heading">
                          <button type="button" class="btn btn-primary btn-md" ng-click="loadNewJob()"> 
         Add Job </button>
                    <div class="col-sm-4">
                        <input type="text" id="firstName" placeholder="Search Employee" class="form-control" autofocus ng-model="searchText">
                    </div>
         </div>
         </div>
     <div class="panel-body">  
    <div class="row" style="overflow-x:scroll;overflow-y:scroll;">
  <table class="table table-striped table-bordered" ng-table="jobTable" >
    <thead>
      									<tr>
      									 <th>
      									Job
      									 </th>
                                        <th style="width:17%">Reg No.</th>
                                        <th style="width:10%">Status</th>
                                        <th style="width:12%">Vehicle</th>
                                        <th style="width:12%">Arrival Date</th>
                                        <th style="width:12%">Delivered Date</th>
                                        <th style="width:12%">Mobile No.</th>
                                        <th style="width:12%">Owner</th>
                                        <!-- <th>Action</th> -->
                                        
    </thead>
    <tbody>
      <tr ng-repeat="job in $data | filter: searchText">
        <td>
        <span><a href=""  ng-click="editJobCart(job);$event.preventDefault()">{{job.ticketNo}}</a></span>
        </td>
        <td>
          {{job.registrationNo}}
        </td>
        <td> <span ng-class ="{'label label-success' : (job.status == 'DELIEVERED') , 
        'label label-danger': (job.status == 'PENDING') ,
         'label label-warning': (job.status == 'ESTIMATED')}">{{job.status}}</span></td>
        <td>{{job.vehicleName}} </td>
        <td>{{job.arrivalDate | date: 'dd-MM-yyyy'}}</td> 
        <td>{{job.delieveryDate | date: 'dd-MM-yyyy'}}</td>
        <td>{{job.mobileNumber}}</td>
        <td>{{job.customerName}}</td>
<!--        <td><span><a href="" class="glyphicon glyphicon-edit" ng-click="editJobCart(job);$event.preventDefault()" data-popout="true"></a></span></td> -->
      </tr>	
    </tbody>
  </table>
  </div>
  </div> 
  </div>
