<!DOCTYPE html>
<html ng-app="myApp" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    
   <script type="text/javascript" src="generic/angular.min.js"></script>
	<script type="text/javascript" src="generic/angular-route.min.js"></script>
	<script type="text/javascript" src="generic/angular-resource.min.js"></script>
	<script type="text/javascript" src="generic/ng-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="generic/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="generic/ngDialog.min.js"></script>
	<script type="text/javascript" src="generic/ng-table.js"></script>
	
	
	<script type="text/javascript" src="js/angularjs/app.js"></script>
	<script src="services/homeFactory.js"></script>
	<script src="model/fileUploadService.js"></script>
	<script src="controller/LoginController.js"></script>	
	
	
    <title>Please keep you name here</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="dist/css/login.css">

   
</head>

<body>

    <div class="login" ng-controller="LoginController">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Log in</h2>

  <form class="login-container" >
    <p><input type="text" placeholder="username" ng-model="user.userName"></p>
    <p><input type="password" placeholder="Password" ng-model="user.password"></p>
    <p><input type="submit" value="Log in" ng-click="submitUserCredentials(user)"></p>
  </form>
</div>

   
    <!-- /#wrapper -->
	
	
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="vendor/raphael/raphael.min.js"></script>
    <script src="vendor/morrisjs/morris.min.js"></script>
    <script src="js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

</body>

</html>
